.body-main {
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.content-box {
  border-radius: 0.5rem;
  max-width: 390px;
  margin: 2rem 1rem auto;
  /* background: #1b1c1d; */
  border: 2px dashed #09aeae;
}
.box-body {
  padding: 0.5rem 2rem;
}
.header {
  padding: 10px 5px;

}
a h1{
  font-weight: 400;
}
.body-txt {
  line-height: 1.4  ;
  padding: 5px;
  /* font-size: 14px; */
}
.link {
  padding: 5px 0;
}
.body-links {
  display: block;
}
@media screen and (max-width: 600px) {
  .link {
    padding: 14px 0;
  }
}
@media screen and (max-width: 626px) {
 body{
  justify-content: center;
  .about{
    min-width: 320px;
  }
 }
}
@media screen and (max-width: 420px) {
  .content-box {
    max-width: 340px;
  }
  .header a h2 {
    font-size: 20px;
  }
  .header h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 355px) {
  .content-box {
    max-width: 270px;
  }
  .header a h2 {
    font-size: 16px;
  }
  .header h4 {
    font-size: 12px;
  }
}
