* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  color: #eeeeee;
  background: #1e263b;
}

.link,
.body-links {
  color: #09aeae;
  transition: 0.1s all ease-in;
}
p{
  line-height: 1.4;
}
.link:hover,
.body-links:hover,
.link:focus,
.body-links:focus {
  color: #ffffff;
  transform: scaleY(1.1);
}
